<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}jangjunha.me{% endblock %}</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57DLLZ9');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="/assets/tailwind.dist.css" />
    {%- block meta %}
    <meta property="og:site_name" content="jangjunha" />
    {%- endblock %}
  </head>
  <body class="bg-tint-200">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57DLLZ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="bg-white">
      <div class="container max-w-screen-md mx-auto px-4 py-10">
        <h1 class="mb-8 text-2xl [&_a:hover]:text-tint-600">
          {% block page_title %}<a href="/">jangjunha</a>{% endblock %}
        </h1>
        {% block page_content %}{% endblock %}
      </div>
    </div>

    <footer class="flex w-fit mx-auto py-16 text-tint-900">
      <p class="after:content-['\_\_'] after:text-tint-300 after:mx-4">
        &copy; <span style="font-weight: 600">jangjunha</span>
      </p>
      <nav class="">
        <ul
          class="inline-flex flex-col sm:flex-row [&>li]:flex after:[&>li:not(:last-child)]:content-['/'] after:[&>li]:text-tint-300 after:[&>li:not(:last-child)]:mx-4"
        >
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="https://linkedin.com/in/jangjunha" target="_blank" rel="noopener noreferrer">resume</a>
          </li>

          <li>
            <a href="{{ get_url(path="@/projects/_index.md") }}">archive</a>
          </li>

          <li>
            <a href="{{ get_url(path="@/blog/_index.md") }}">blog</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>

  {% block lazy_loading %}{% endblock %}
</html>
