{% import "blog-macro.html" as macros %} {% extends "blog-base.html" %} {% block
page_content %} {{ macros::render_list(posts=paginator.pages) }}
<nav
  role="navigation"
  aria-label="Pagination Navigation"
  class="flex justify-between mt-4"
>
  <a
    href="{% if paginator.previous %}{{ paginator.previous }}{% else %}#{% endif %}"
    class="{% if paginator.previous %} hover:text-tint-600 {% else %} opacity-25 cursor-not-allowed{% endif %}"
    >‹ 이전 페이지</a
  >
  <p>{{ paginator.current_index }}/{{ paginator.number_pagers }} 페이지</p>
  {% if paginator.next %}{% endif %}
  <a
    href="{% if paginator.next %}{{ paginator.next }}{% else %}#{% endif %}"
    class="{% if paginator.next %} hover:text-tint-600 {% else %} opacity-25 cursor-not-allowed{% endif %}"
    >다음 페이지 ›</a
  >
</nav>

{% endblock %}
