{% import "blog-macro.html" as macros %}

{% extends "blog-base.html" %}

{%- block meta %}
{{ super() }}
<meta property="og:title" content="{{ page.title }}" />
{%- if page.description %}
<meta name="og:description" content="{{ page.description }}" />
<meta name="description" content="{{ page.description }}" />
{%- endif %}
{%- endblock %}

{% block page_content %}
<article
  class="prose max-w-none prose-h2:flex prose-h3:flex prose-h4:flex prose-h2:items-center prose-h3:items-center prose-h4:items-center break-all sm:break-word"
>
  <header class="mb-16">
    <h1 class="mb-4">{{ page.title }}</h1>
    <div class="not-prose">
      <time datetime="{{ page.date }}"
        >{{ page.date | date(format="%Y년 %-m월 %-d일") }}</time
      >
      발행 {% if page.taxonomies %} {{
      macros::render_tags(tags=page.taxonomies.tags, link=true) }} {% endif %}
    </div>
  </header>

  {{ page.content | safe }}
</article>

<div class="mt-8">
  <script
    src="https://utteranc.es/client.js"
    repo="jangjunha/comments.jangjunha.me"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async
  ></script>
</div>
{% endblock %}

{%- block lazy_loading %}
{{ super() }}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true });
</script>
{% endblock %}
