{% extends "projects-base.html" %}

{%- block meta -%}
{{ super() }}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
{%- if page.extra.cover %}
{%- set cover_src = get_url(path=[page.path, page.extra.cover] | join(sep='')) %}
<meta property="og:image" content="{{ cover_src | safe }}" />
{%- endif %}
{%- endblock %}

{% block page_content %}
<article class="prose">
  <header>
    <p>
        <h1 class="inline">{{ page.title }}</h1>
        <span class="inline ml-2 font-normal text-lg">__ {{ page.extra.year_begin }}{% if page.extra.year_end %} - {{ page.extra.year_end }}{% endif %}</span>
    </p>
    <p>{{ page.description }}</p>
  </header>

  {{ page.content | safe }}
</article>
{% endblock %}
