{% extends "projects-base.html" %} {% block page_content %}
<main class="prose max-w-full">
  <p class="mb-16">
    취미로 했던 프로젝트부터 회사에서 업무로 담당했던 제품까지 여태껏 만들었던
    것들을 기록해두는 공간입니다.
  </p>

  {% for year, pages in section.pages | reverse |
  group_by(attribute="extra.year_begin") %}
  <section>
    <h3>{{ year }}</h3>
    {% for page in pages %}
    <article
      class="flex flex-col sm:flex-row gap-4 items-start justify-between mt-8 [&:first-of-type]:mt-0"
    >
      <header class="flex-auto">
        <div class="flex flex-wrap items-baseline gap-x-2">
          <h4 class="mt-0">
            <a href="{{ page.permalink }}" class="font-bold"
              >{{ page.title }}</a
            >
          </h4>
          {% if page.extra.links %} {% for link in page.extra.links %}
          <a
            href="{{ link.url }}"
            target="_blank"
            rel="noopener noreferrer"
            class="no-underline font-normal text-sm px-2 py-0.5 rounded{% if not link.broken %} bg-tint-200 text-tint-800{% else %} bg-gray-200 text-gray-400 cursor-not-allowed{% endif %}"
            >{{ link.name }}</a
          >
          {% endfor %} {% endif %}
        </div>
        <p class="mb-0">{{ page.description }}</p>
      </header>
      {% if page.extra.cover %} {% set cover_src = [page.path, page.extra.cover]
      | join(sep='') | safe %} {% set thumbnail = resize_image(path=cover_src,
      width=480, op='fit_width') %}
      <img
        src="{{ thumbnail.url }}"
        class="rounded-lg border border-tint-200 object-cover object-top self-center w-80 sm:w-72 aspect-[16/9] my-0"
      />
      {% endif %}
    </article>
    {% endfor %}
  </section>
  {% endfor %}
</main>
{% endblock %}
